<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/cadastro.css">
    <title>Cadastre-se</title>
</head>
<body>
    <main>
        <section>
            <img src="../public/imgs/logo.png" alt="Logo">
            <form action="registro" method="post">
                <label for="login">Usuário: </label>
                <input type="text" name="username" placeholder="Nome de usuário" autofocus>
                <label for="password">Senha: </label>
                <input type="password" name="password" placeholder="Senha">
                <label for="email">E-mail: </label>
                <input type="email" name="email" id="" placeholder="email">
                <label for="nome">Nome completo: </label>
                <input type="text" name="full_name" id="" placeholder="Nome Completo">
                <label for=""></label>
                <input type="submit" value="Registrar">
            </form>
        </section>
    </main>
</body>
</html>